.nav-container-profile {
    height: 70px;
    width: 100vw;
    background-color: rgba(40, 46, 49, 0.95);
    padding-left: 45px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-bottom: solid 1px rgba(246, 106, 85, 0.36);
    position: fixed;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.20);
    z-index: 2;
}

.nav-container-profile ul {
    list-style: none;
}

.menu-container a.linkAtivo {
    color: #f66a55;
}

.logo-container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.logo-text-profile {
    display: flex;
    align-self: center;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: #3c3f41;
}

.menu-container {
    display: flex;
    align-items: stretch;
    margin-left: 38rem;
}

.menu-container a {
    color: white;
    margin: 0 7px;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.menu-container a:hover {
    color: #f66a55;
    transition: all;
    opacity: 1;
}

.icon-home {
    width: 30px;
}


