.div-home-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.div-home-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}


.home-presentation {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.home-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: var(--dark-color);
    margin-bottom: 40px !important;
}

.home-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: rgb(154, 154, 154);
    margin-bottom: 30px;
    margin-right: 30px;
}

.home-btn-profile {
    background: rgb(246,106,85);
    background: linear-gradient(24deg, rgba(246,106,85,1) 0%, rgba(161,69,55,1) 100%);
    /*background-color: var(--primary-color);*/
    border-radius: 7px;
    height: 50px;
    width: 150px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.015em;
    color: #ffffff;
    margin-bottom: 50px;
}

.home-btn-profile:hover {
    background: rgb(246,106,85);
    background: linear-gradient(24deg, rgb(210, 87, 71) 0%, rgb(125, 54, 42) 100%);
    transform: scale(1.01);
}

.home-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.home-img > img {
    width: 270px;
    height: 270px;
}

.social-media-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-media-content {
    margin: 0 7px;
}

.social-media-content > svg {
    width: 34px;
    height: 34px;
}

/* ****************** */
@media screen and (max-device-width: 480px) {
    .div-home-content {
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .home-title {
        font-size: 35px;
        line-height: normal;
    }

    .home-subtitle {
        text-align: center;
        margin-top: 0;
    }

    .home-presentation {
        align-items: center;
    }

    .home-img > img {
        width: 170px;
        height: 170px;
    }
}

