/******************* SOBRE *******************************/
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 70%;
}

.container-title {
    text-align: justify;
    color: #f66a55;
}

.container-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    border-top: solid 1px #444;

    /*justify-content: space-between;*/
}

.cont-desc-timeline {
    height: auto;
    width: 100%;
}

.content-icon {
    display: flex;
    height: 182px;
    width: 182px;
    /*margin-left: 10px;*/
    padding-left: 2px;
    padding-top: 2px;
    border-radius: 50%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.45);
    background-color: #f66a55;
}

.content-icon > img {
    height: 180px;
    width: 180px;
}

.content-article {
    display: flex;
    width: 70%;
    margin-left: 20px;
    color: #E6E6E6;
}

.description-text {
    display: flex;
    align-self: center;
    line-height: 1.5;
    text-align: left;
    /*letter-spacing: -0.015em;*/
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
    /*background-color: #E6E6E6;*/
    border: solid 1px #f66a55;
}

/**************************** EXPERIENCIA ***********************************/

.line {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: absolute;
    height: 130%;
    width: 7px;
    background-color: #49515e;
    border-radius: 20px;
    margin-left: 31.4%;
}

.year-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year-container-right {
    margin-right: 14px;
}
.year-container-left {
    margin-left: 14px;
}

.year-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 17px 0 0 9px;
}

.year {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: -70px;
}
.year-1 {
    background-color: #f66a55;
}
.year-2 {
    background-color: #f66a55;
}
.year-3 {
    background-color: #f66a55;
}

.content-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 815px;
    position: relative;
    margin-bottom: 2em;
    z-index: 1;
}

.content-cards-direita {
    flex-direction: row-reverse;
}

.card-timeline-1 {
    display: flex;
    flex-direction: column;
}

.card-timeline-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-timeline-3 {
    display: flex;
    flex-direction: column;
}

.container-header-card {
    display: flex;
}

.title-card {
    display: flex;
    flex-direction: column;
    width: 338px;
    height: 70px;
    border-bottom: solid 2px #323436;
    color: #E6E6E6;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
}

.title-card-1 {
    border: solid 1px #d6d6d6;
}
.title-card-2 {
    border: solid 1px #d6d6d6;
}
.title-card-3 {
    border: solid 1px #d6d6d6;
}

.title-card > h4 {
    padding: 0;
    margin: 0px 0 3px 14px;
    color: snow;
}
.title-card > h6 {
    padding: 0;
    margin: 14px 0 3px 14px;
    color: #687487;
    font-size: 14px;
}

.triangulo-para-direita {
    display: flex;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.triangulo-para-esquerda {
    display: flex;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.triangulo-para-esquerda-0 {
    border-right: 15px solid #f66a55;
}

.triangulo-para-direita-1 {
    border-left: 15px solid #d6d6d6;
}

.triangulo-para-esquerda-2 {
    border-right: 15px solid #d6d6d6;
}

.triangulo-para-direita-3 {
    border-left: 15px solid #d6d6d6;
}

.description-card-L {
    display: flex;
    width: 340px;
    height: auto;
    padding-bottom: 12px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
}
.description-card-01{
    background-color: #d6d6d6;
}

.description-card-02{
    background-color: #d6d6d6;
}

.description-card-03{
    background-color: #d6d6d6;
}

.description-content {
    color: #323232;
    margin-left: 14px;
    padding-top: 12px;
    padding-right: 12px;
}

.description-card-R {
    display: flex;
    width: 340px;;
    height: auto;
    padding-bottom: 12px;
    margin-left: 15px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
}

.rotated-half-circle-01 {
    width: 70px;
    height: 70px;
    border: 5px solid #f66a55;
    border-radius: 50%;
    border-bottom-color: transparent;
    /*border-left-color: transparent;*/
    transform: rotate(-45deg);
}

.rotated-half-circle-02 {
    width: 70px;
    height: 70px;
    border: 5px solid #f66a55;
    border-radius: 50%;
    border-bottom-color: transparent;
    transform: rotate(45deg);
}

.rotated-half-circle-03 {
    width: 70px;
    height: 70px;
    border: 5px solid #f66a55;
    border-radius: 50%;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
}

/**************************** FORMACAO ***********************************/
.formation-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0 20px;
}

.icon-formation {
    width: 53px;
}

.formation-container > h3 {
    color: #E6E6E6;
    margin-block-start: 30px;
    margin-block-end: 20px;
}
.formation-container > article > p {
    color: #939393;
    letter-spacing: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/****************** HABILIDADES ********************************************/
.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

.cont-desc-skill {
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: auto;
    padding-bottom: 30px;
}

.icon-skill {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.skill-container > h3 {
    color: snow;
    margin-block-start: 30px;
    margin-block-end: 20px;
}
.skill-container > article > p {
    color: #939393;
    letter-spacing: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/***************** CONTATO **********************************/
.container-form-email {
    flex-direction: column;
}
.container-form-email > h1 {
    color: #efefef;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
}

.icon-contact {
    width: 35px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.contact-content > h4{
    color: #efefef;
}
.contact-content > article > p {
    color: #939393;
    margin-block-end: 6px;
    margin-block-start: 0;
}

input[type=text], input[type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(246, 106, 85, 0.35);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #efefef;
    font-size: 14px;
}

label {
    color: #404953;
    font-weight: 600;
    color: #f66a55;
}

input[type=submit] {
    background: rgb(246,106,85);
    background: linear-gradient(24deg, rgba(246,106,85,1) 0%, rgba(161,69,55,1) 100%);
    /*background-color: #f66a55;*/
    color: snow;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    /*background-color: #de5e4e;*/
    background: rgb(246,106,85);
    background: linear-gradient(24deg, rgb(210, 87, 71) 0%, rgb(125, 54, 42) 100%);
}

.container {
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
}

/********************* RESPONSIVIDADE ***************************/

@media screen and (max-device-width: 480px)  {
    /**** About ***/
    .about-content {
        width: 85%;
    }

    .content-article {
        flex-direction: column;
    }

    .container-description {
        flex-direction: column;
        width: 100%;
        align-self: center;
    }

    .content-icon {
        height: 120px;
        width: 120px;
        padding: 2px;
        margin: 0;
        align-self: center;
        align-items: center;
    }
    .content-icon > img {
        height: 120px;
        width: 120px;
    }

    .triangulo-para-cima {
        width: 0;
        height: 0;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 17px solid #f66a55;
    }

    .content-article {
        width: 100%;
        margin: 0;
    }

    .description-text {
        margin-top: 0;
        width: 80%;
        text-align: center;
    }

    /**** Experiencia ***/
    .line {
        margin-left: 41.5vw;
        height: 175vh;
    }

    .year-container {
        margin: 10px 0 10px 0;
    }

    .title-card {
        width: 79.5vw;
    }

    .content-cards-direita {
        flex-direction: row;
    }

    .content-cards {
        flex-direction: column-reverse;
        width: 100%;
    }

    .container-header-card {
        display: flex;
        flex-direction: column;
    }

    .container-header-card-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .card-timeline-1 {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .description-card-01{
        background-color: rgba(214, 214, 214, 0.87);
    }

    .description-card-R {
        margin: 0;
        background-color: rgba(214, 214, 214, 0.87);
        width: 80vw;
    }

    .description-card-L {
        margin: 0;
        background-color: rgba(214, 214, 214, 0.87);
        width: 80vw;
    }

    /**** HABILIDADES ***/
    .cont-desc-skill-mob {
        flex-direction: row;
    }
    .skill-container {
        align-items: center;
        text-align: center;
        width: 42vw;
        margin-top: 20px;
    }

    .formation-container {
        align-items: center;
        margin-bottom: 25px;
        text-align: center;
    }

    .formation-container > h3 {
        margin-block-start: 16px;
        margin-block-end: 8px;
    }

    /**** CONTATO ***/
    .container-contact {
        flex-direction: column;
        /*width: 100vw;*/
    }

}