.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    border: solid 1px cadetblue;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    /*height: auto;*/
    width: 70%;

    border: solid 1px green;
}

.container-title {
    text-align: justify;
    color: #f66a55;
}

.container-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 15px;
    border: solid 1px burlywood;
}

.cont-desc-timeline {
    height: auto;
    padding-top: 160px;
    width: 90%;
}


.content-icon {
    display: flex;
    height: 200px;
    width: 200px;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    background-color: #bde87b;
}

.content-icon > img {
    height: 199px;
    width: 199px;
}

.content-article {
    display: flex;
    width: 70%;
    margin-left: 20px;
}

.description-text {
    line-height: 1.5;
    text-align: justify;
    /*letter-spacing: -0.015em;*/
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    background-color: #E6E6E6;
}

/**************************** TimeLine ******************/

.line {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 689px;
    width: 7px;
    background-color: #49515e;
    z-index: 1;
    margin-left: 348px;
    border-radius: 20px;
    margin-top: -10em;
}

.year {
    display: flex;
    position: absolute;
    height: 60px;
    width: 60px;
    z-index: 2;
    margin-left: 323px;
    border-radius: 50%;
}
.year-1 {
    background-color: #00a79b;
    margin-top: -475px;
}
.year-2 {
    margin-top: -175px;
    background-color: #f74c25;
}
.year-3 {
    background-color: #a2005a;
    margin-top: 96px;
}
.year-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 17px 0 0 9px;
}




.main-timeline-container {
    display: flex;
    height: 100vh;
    position: relative;
    /*border: solid 1px white;*/
    width: 700px;
}
.content-L {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: -146px;
    height: auto;

    border:solid 1px yellow;
}
.content-R {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: -146px;
    /*border-style: dotted solid;*/
    height: auto;

    border:solid 1px yellow;
}

.card-timeline-1 {
    display: block;
}

.card-timeline-2 {
    display: block;
    margin-top: 300px;
}

.card-timeline-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 300px;
}

.container-header-card {
    display: flex;
}

.title-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 70px;
    border-bottom: solid 2px #323436;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    color: #E6E6E6;
}

.title-card-1 {
    border: solid 1px #00a79b;
}
.title-card-2 {
    /*background-color: #a2005a;*/
    border: solid 1px #a2005a;
}
.title-card-3 {
    /*background-color: #a2005a;*/
    border: solid 1px #f74c25;
}

.title-card > h4 {
    padding: 0;
    margin: 0px 0 3px 14px;
    color: #f66a55;
}
.title-card > h6 {
    padding: 0;
    margin: 14px 0 3px 14px;
    color: #626e82;
    font-size: 14px;
}

.triangulo-para-direita {
    display: flex;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.triangulo-para-direita-1 {
    border-left: 15px solid #00a79b;
}

.triangulo-para-direita-2 {
    border-left: 15px solid #a2005a;
}


.triangulo-para-esquerda {
    display: flex;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.triangulo-para-esquerda {
    border-right: 15px solid #f74c25;
}

.description-card-L {
    display: flex;
    width: 302px;
    height: 200px;
    border-radius: 0px 0px 8px 8px;
}
.description-card-01{
    background: rgb(0,167,155);
    background: linear-gradient(184deg, rgba(0,167,155,1) 0%, rgba(44,51,54,1.0) 100%);
}
.description-card-02{
    background: rgb(153, 4, 92);
    background: linear-gradient(184deg, rgb(153, 4, 92) 0%, rgb(61, 31, 57) 100%);
}

.description-content {
    color: snow;
    margin-left: 14px;
}

.description-card-R {
    display: flex;
    width: 300px;
    height: 200px;
    margin-left: 15px;
    border-radius: 0px 0px 8px 8px;
}
.description-card-03{
    background: rgb(210, 75, 0);
    background: linear-gradient(184deg, rgb(220, 79, 0) 0%, rgb(106, 43, 8) 100%);
}

.rotated-half-circle-01 {
    width: 70px;
    height: 70px;
    border: 5px solid rgb(0,167,155);
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    /*border-left-color: transparent;*/
    /* Rotate the circle */
    transform: rotate(-45deg);
    margin: -475px 0 0 313px;
    position: absolute;
    z-index: 2;
}
.rotated-half-circle-02 {
    width: 70px;
    height: 70px;
    border: 5px solid rgb(208, 80, 0);
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    /*border-left-color: transparent;*/
    /* Rotate the circle */
    transform: rotate(45deg);
    margin: -175px 0 0 313px;
    position: absolute;
    z-index: 2;
}
.rotated-half-circle-03 {
    width: 70px;
    height: 70px;
    border: 5px solid rgb(153, 4, 92);
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    /*border-left-color: transparent;*/
    /* Rotate the circle */
    transform: rotate(-45deg);
    margin: 96px 0 0 313px;
    position: absolute;
    z-index: 2;
}

