@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #f66a55;
    --primary-hover-color: #c45546;
    --dark-color: #f6f6f6;
    --secondary-color: #f66a55;
    --light-color: #F5F5F5;
}

html, body {
    margin: 0;
    padding:0;
    background-color: #2c3336;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
